<h1>Formulario de Cadastro de Clientes</h1>
<form action="">
    <div>
        <!-- <label for="name">Nome:</label> -->
        <input type="text" name="name" id="name" placeholder="Nome">
        <!-- <label for="lastName">Sobrenome:</label> -->
        <input type="text" name="lastName" id="lastName" placeholder="Sobrenome">
    </div>    
    <br>
    <div>
        <!-- <label for="email">Email:</label> -->
        <input type="email" name="email" id="email" placeholder="Email">
        <!-- <label for="phone">Telefone:</label> -->
        <input type="phone" name="phone" id="phone" placeholder="Telefone">
    </div>
    <br>
    <button>Cadastrar</button>
</form>